<div class="page-header">
   <h1>Event List</h1>
</div>
<div class="row">
   <div class="col-xs-4">
      <a class="btn btn-block btn-primary" ui-sref="admin.quizCreate">Create event</a>
   </div>
</div>
<div class="row">
   <div class="margin-40b"></div>
</div>
<div class="row">
   <div class="col-xs-12">
      <table class="table table-bordered">
         <tr class="bg-primary">
            <th>#No</th>
            <th>Event name</th>
            <th>Created at</th>
            <th>Game type</th>
            <th>Action</th>
         </tr>
         <tr ng-repeat="quiz in qi.listQuiz | orderBy : 'createdAt'">
            <td class="text-center">{{$index + 1}}</td>
            <td class="text-left">{{quiz.title}}</td>
            <td class="text-center">{{quiz.createdAt | date : "medium"}}</td>
            <td class="text-center">{{quiz.type == CONSTANTS.QUIZ_TYPE.ranking ? "Ranking" : "Knockout"}}</td>
            <td class="text-center">
               <a ui-sref="admin.quizEdit({quizId : quiz._id})">Edit</a>
               <a href="javascript:;" ng-click="qi.deleteQuiz(quiz)">Delete</a>
            </td>
         </tr>
      </table>
   </div>
</div>