<div class="page-header">
   <h1>{{qe.currentQuiz.title}} <small>List question</small></h1>
</div>
<div class="row">
   <div class="col-xs-4">
      <button class="btn btn-block btn-primary" ng-click="qe.createQuestion()">Create question</button>
   </div>
</div>
<div class="row">
   <div class="margin-40b"></div>
</div>
<div class="row">
   <div class="col-xs-12">
      <table class="table table-bordered">
         <tr class="bg-primary">
            <th>#No</th>
            <th>Question title</th>
            <th>Answer</th>
            <th ng-if="qe.currentQuiz.type == CONSTANTS.QUIZ_TYPE.ranking">Score</th>
            <th>Action</th>
         </tr>
         <tr ng-repeat="question in qe.listQuestion | orderBy : 'number'">
            <td class="text-center">{{question.number}}</td>
            <td class="text-left">{{question.content}}</td>
            <td class="text-center">{{question.correctAnswer}}</td>
            <td ng-if="qe.currentQuiz.type == CONSTANTS.QUIZ_TYPE.ranking" class="text-center">{{question.score}}</td>
            <td class="text-center">
               <a ui-sref="admin.questionEdit({questionId : question._id, quizId : qe.currentQuiz._id})">Edit</a>
               <a href="javascript:;" ng-click="qe.deleteQuestion(question)">Delete</a>
            </td>
         </tr>
      </table>
   </div>
</div>