<div class="container-fluid">
   <div class="page-header">
      <h2 class="text-center" style="color : #f0362f;font-weight: bold;">{{mo.currentQuiz.title}}</h2>
   </div>
   <div class="row">
      <div class="col-xs-7">
         <div class="gamer-embark text-center animateText" style="" ng-if="!mo.listPlayer.length">
            Join and fight. Right now!
         </div>
         <div class="gamer-embark">
            <div class="gamer-embark-item alert" role="alert"
                 ng-repeat="player in mo.visiblePlayer">
               {{player.nickname}} joined
            </div>
            <button class="btn btn-danger btn-block" ng-click="mo.startQuiz()">
               Start game
            </button>
         </div>
      </div>
      <div class="col-xs-5">
         <div class="qrcode thumbnail">
            <img style="width: 100%;"
                 src="http://www.qr-code-generator.com/phpqrcode/getCode.php?cht=qr&amp;chl={{mo.currentQuiz.shortUrl}}&amp;chs=180x180&amp;choe=UTF-8&amp;chld=L|0"
                 alt="" class="prevImg">
         </div>
         <div class="game-info">
            <h3>Joined <span class="label label-default">{{mo.listPlayer.length}}</span></h3>
            <h3>Available <span class="label label-default">{{CONSTANTS.PLAYER_MAXIMUM - mo.listPlayer.length}}</span>
            </h3>
         </div>
      </div>
   </div>
</div>