<div class="container-fluid">
   <div class="page-header">
      <h2>{{mo.currentQuiz.title}}</h2>
   </div>
   <div class="row">
      <div class="col-xs-7">
         <div class="gamer-embark">
            <div class="gamer-embark-item alert alert-info" role="alert">
               Minh Tuấn joined
            </div>
            <div class="gamer-embark-item alert alert-default" role="alert">
               Minh Tuấn joined
            </div>
            <div class="gamer-embark-item alert alert-default" role="alert">
               Minh Tuấn joined
            </div>
            <div class="gamer-embark-item alert alert-default" role="alert">
               Minh Tuấn joined
            </div>
            <div class="gamer-embark-item alert alert-default" role="alert">
               Minh Tuấn joined
            </div>
         </div>
      </div>
      <div class="col-xs-5">
         <div class="qrcode thumbnail">
            <img style="width: 100%;" src="http://www.qr-code-generator.com/phpqrcode/getCode.php?cht=qr&amp;chl={{mo.currentQuiz.shortUrl}}&amp;chs=180x180&amp;choe=UTF-8&amp;chld=L|0" alt="" class="prevImg">
         </div>
         <div class="game-info">
            <h3>Số người đã vào <span class="label label-default">27</span></h3>
            <h3>Vị trí còn trống <span class="label label-default">27</span></h3>
         </div>
      </div>
   </div>
</div>